@model Khdoum.Api.Models.ViewModels.UserViewModel
@{
    Layout = "DashboardLayout";
}

<h1>قائمة المستحدمين</h1>

<div class="row">
    <div class="col-md-4">
        <select id="UserType">
            <option value="User">العملاء</option>
            <option value="Delegate">المناديب</option>
        </select>
    </div>
</div>

<table class="table table-striped table-bordered text-center" id="table">
    <thead>
        <tr>
            <th>

            </th>
            <th>
                الاسم
            </th>
            <th>
                الهاتف
            </th>
            <th>
                حالة الحساب
            </th>
            <th>
                الحالة
            </th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>


@section Scripts
{
    <script>
        $(function () {


            FillTable("User");

        });

        function FillTable(Type) {
            var Url = "@Url.Action("GetList", "Users")";
            var Columns = [
                {
                    data: null, render: function (data, type, row) {
                        var img = `<img src="${data.imgUrl}" class="tbl-img"/>`;
                        return img;
                    }
                },
                { data: 'name', 'name': 'name' },
                { data: 'phone', 'phone': 'phone' },
                { data: 'isClientVerified', 'isClientVerified': 'isClientVerified' },
                {
                    data: null, render: function (data, type, row) {

                        var btn = ``;

                        if (data.blockUser == false) {
                            btn = `<a class="btn btn-success StateBtn" ItemId="${data.id}" >الحالة</a>`
                        }
                        else {
                            btn = `<a class="btn btn-danger StateBtn" ItemId="${data.id}" >الحالة</a>`
                        }

                        return btn;
                    }
                },
            ];

            var data = {
                Type : Type
            }

            BuildAjaxDataTable($("#table"), Url, Columns, data,"users",false);
        }

        $(document).on("click", ".StateBtn", function () {

            var Id = $(this).attr("ItemId");

            var btn = $(this)

            $.ajax({
                type: 'POST',
                url: `@Url.Action("ChangeUserState", "Users")`,
                data: {
                    Id:Id
                },
                //beforeSend: function () {

                //},

                success: function (data) {


                    if (data.state == true) {
                        $(btn).removeClass("btn-success");
                        $(btn).addClass(" btn-danger");
                    }
                    else {
                        $(btn).removeClass("btn-danger");
                        $(btn).addClass(" btn-success");
                    }

                },
                error: function (ex) {

                    var r = jQuery.parseJSON(response.responseText);
                    alert("Message: " + r.Message);
                    alert("StackTrace: " + r.StackTrace);
                    alert("ExceptionType: " + r.ExceptionType);
                }
            });
        });

        $(document).on("change", "#UserType", function () {
            var Type = $(this).val();
            FillTable(Type);
        });

        

    </script>
}