
@{
    ViewData["Title"] = "البيانات الاساسية";
    Layout = "~/Views/Shared/DashboardLayout.cshtml";
}

<h1>البيانات الأساسية</h1>
<hr />
<div class="row">
    <div class="col-lg-4">
        <form method="post">
            <button formaction="/Categories" class="btn btn-primary RouteBtn">
                <div class="RouteBtnIconBox">
                    <i class="fas fa-puzzle-piece RouteBtnIcon"></i>
                </div>
                <h2 class="RouteTitle">التصنيفات</h2>
            </button>
        </form>
    </div>
    <div class="col-lg-4">
        <form method="post">
            <button formaction="/Units" class="btn btn-primary RouteBtn">
                <div class="RouteBtnIconBox">
                    <i class="fas fa-cubes RouteBtnIcon"></i>
                </div>
                <h2 class="RouteTitle">الوحدات</h2>
            </button>
        </form>
    </div>
    <div class="col-lg-4">
        <form method="post">
            <button formaction="/Cities" class="btn btn-primary RouteBtn">
                <div class="RouteBtnIconBox">
                    <i class="fas fa-city RouteBtnIcon"></i>
                </div>
                <h2 class="RouteTitle">المدن</h2>
            </button>
        </form>
    </div>
    <div class="col-lg-4">
        <form method="post">
            <button formaction="/States" class="btn btn-primary RouteBtn">
                <div class="RouteBtnIconBox">
                    <i class="fas fa-building RouteBtnIcon"></i>
                </div>
                <h2 class="RouteTitle">المناطق</h2>
            </button>
        </form>
    </div>
    <div class="col-lg-4">
        <form method="post">
            <button formaction="/GeneralDeliveries" class="btn btn-primary RouteBtn">
                <div class="RouteBtnIconBox">
                    <i class="fas fa-map-marked-alt RouteBtnIcon"></i>
                </div>
                <h2 class="RouteTitle">التوصيلات</h2>
            </button>
        </form>
    </div>
</div>



