@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - خدوم</title>
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />*@
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.rtl.min.css" integrity="sha384-gXt9imSW0VcJVHezoNQsP+TNrjYXoGcrqBZJpry9zJt8PCQjobwmhMGaDHTASo9N" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Cairo&display=swap" rel="stylesheet">
    <link href="~/lib/bootstrap/dist/css/dashboard.rtl.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />

    @*<link rel="stylesheet" href="~/css/site.css" />*@
    <link href="~/css/CustomStyleAr.css" rel="stylesheet" />

    <style>
        .feather {
            vertical-align: sub !important;
        }

        .select2-selection__arrow {
            height: 45px !important;
        }

        .select2-container .select2-selection--single {
            height: 45px !important;
        }

        .select2-container--default .select2-selection--single .select2-selection__rendered {
            line-height: 45px !important;
        }

        .select2-container {
            width: 100% !important;
        }

        .select2-search--dropdown .select2-search__field {
            width: 98%;
        }



        /*.select2-container {
            z-index: 100000;
        }*/
    </style>

    <link href="~/css/signin.css" rel="stylesheet" />

</head>
<body style="font-family: 'Cairo';" class="text-center">
    

    <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>

    @*<footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2021 - ManpowerWeb - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>*@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    @*<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>*@
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.24.1/feather.min.js" integrity="sha384-EbSscX4STvYAC/DxHse8z5gEDaNiKAIGW+EpfzYTfQrgIlHywXXrM9SUIZ0BlyfF" crossorigin="anonymous"></script>
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js" integrity="sha384-i+dHPTzZw7YVZOx9lbH5l6lP74sLRtMtwN2XjVqjf3uAGAREAF4LMIUDTWEVs4LI" crossorigin="anonymous"></script>*@
    <script src="https://kit.fontawesome.com/ef95329904.js" crossorigin="anonymous"></script>
    <script src="~/lib/bootstrap/dist/js/dashboard.js"></script>
    <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>

    <script>

        $(function () {
            $('select:not(.normal)').each(function () {
                $(this).select2({
                    dropdownParent: $(this).parent(),
                    width: 'resolve'
                });
            });
        })




        function BuildAjaxDataTable(table, Url, Columns, data, DataSrc, ServerSide = true, rowGroup = '') {
            $(table).find("tbody").remove();
            $(table).DataTable().destroy();
            dataTable = $(table).DataTable({
                "pageLength": 10,
                "processing": true,
                "serverSide": ServerSide,
                'serverMethod': 'post',
                "order": [0, "desc"],
                rowGroup: {
                    dataSrc: rowGroup,
                    startClassName: 'table-start-group'
                },
                //"lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                ordering: true,
                paging: true,
                searching: true,
                "ajax": {
                    'url': Url,
                    "type": "POST",
                    "datatype": "json",
                    "dataSrc": DataSrc,
                    'data': data,
                },
                'columns': Columns,
                dom: 'Bfrtip',
                buttons: [
                    'copy', 'csv', 'excel', 'pdf', 'print'
                ]
                //"columnDefs": [
                //    {
                //        "targets": 0,
                //        "visible": false
                //    }
                //]
            });

            $(".dt-buttons").hide();
            //$(".dataTables_filter").hide();

            //var group = $(".dtrg-level-0");
            //if (group.text() == "No group") {
            //    group.hide();
            //}
        }

        function EmptyFeilds() {
            //$('input').each(function (index, item) {
            //    $(item).val('');
            //})
        }




    </script>



    @RenderSection("Scripts", required: false)
</body>
</html>
